
body{
    background-color: black;
    
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;   
}

.hora{
    font-family: 'Londrina Outline', cursive;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}